.bullet-icon {
  max-width: 20px;
}

.container-bullet-hole {
  text-align: center;
}

.bullet-hole {
  min-width: 55px;
}

.container-bullet-hole > p {
  font-size: 1.5rem;
  left: 3px;
  position: relative;
  top: -70px;
}
